/* Set gameboard to full view width */
#board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
}

/* Border Settings */
.light {
  background-color: #fff;
  color: #000;
}
.light .cell {
  border: 2px solid #000;
}
.dark {
  background-color: #1a1a1d;
  color: #fff;
}
.dark .cell {
  border: 2px solid #fff;
}

.cell {
  /* border: 2px solid #000; */
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.cell:nth-child(-n + 3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-last-of-type(-n + 3) {
  border-bottom: none;
}

/* Set x/o after click */
.x::after {
  animation: append-animate 0.15s linear;
  content: "❌";
}

.o::after {
  animation: append-animate 0.15s linear;
  content: "⭕";
}

/* animation for appearing symbols */
@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* disable mouse cursor after entry */
.disabled {
  cursor: not-allowed;
}

/* When not disabled, grey on hover */
.light .cell:not(.disabled):hover {
  background: #eee;
}
.dark .cell:not(.disabled):hover {
  background: rgb(38, 38, 38);
}

/* game over */
.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(0 0 0 / 50%) 0 0 0 9999px;
}

.game-over-text {
  position: absolute;
  top: -300px;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  transform: translateX(-30%);
}

.visible {
  display: block;
}

/* light/dark slider */
.switch {
  height: 100px;
  position: fixed;
  right: 50px;
  top: 50px;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
