/* Set gameboard to full view width */
#board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: repeat(3, auto);
}

/* Border Settings */
.light {
  background-color: #fff;
  color: #000;
}
.light .cell {
  border: 2px solid #000;
}
.dark {
  background-color: #1a1a1d;
  color: #fff;
}
.dark .cell {
  border: 2px solid #fff;
}

.cell {
  /* border: 2px solid #000; */
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.cell:nth-child(-n + 3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:nth-last-of-type(-n + 3) {
  border-bottom: none;
}

/* Set x/o after click */
.x::after {
  content: "❌";
}

.o::after {
  content: "⭕";
}

/* disable mouse cursor after entry */
.disabled {
  cursor: not-allowed;
}

/* When not disabled, grey on hover */
.light .cell:not(.disabled):hover {
  background: #eee;
}
.dark .cell:not(.disabled):hover {
  background: rgb(38, 38, 38);
}

/* game over */
.game-over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(0 0 0 / 50%) 0 0 0 9999px;
}

.game-over-text {
  position: absolute;
  top: -300px;
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  transform: translateX(-30%);
}

.visible {
  display: block;
}
