@import url("https://fonts.googleapis.com/css2?family=Oswald&family=PT+Mono&display=swap");

body,
select,
input,
textarea,
.submit-text {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-size: 1rem;
}
h1,
button {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}
.big {
  font-family: "Oswald", sans-serif;
  font-size: 3.25rem;
  font-weight: 200;
  margin-bottom: 0.2rem;
  margin-top: 0;
  text-transform: uppercase;
}
select {
  font-family: "PT Mono", monospace;
  font-style: normal;
  font-size: 1rem;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.form-items {
  margin: 1rem 0;
}

.submitted {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgb(0 0 0 / 50%) 0 0 0 9999px;
  background-color: #fff;
  border-radius: 0.25rem;
}

.submit-text {
  text-align: center;
  margin: 1rem 0;
}

.visible {
  display: flex;
}
